# Database Connection URL (Configure your production DB on Netlify / Supabase / PlanetScale / Aiven)
DATABASE_URL="mysql://username:password@localhost:3306/ashwini_portfolio"

# Secret Key for Auth / Session Security
NEXTAUTH_SECRET="your-secret-key-here"

# Admin Portal Password
ADMIN_PASSWORD="your-admin-password-here"
